*{
    font-family: 'Cinzel', serif;
}
section{
height: 100vh;
}

nav{
    background-color: #ededed;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 14px 63px;
    box-shadow: 0px 0px 10px 0px #00000059;
}

i{
    font-size: 32px;
    color: #000000;
}   

#navBarLinks{
    display: flex;

    li{
        padding-left: 23px;
        a{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
    }
}

#homeSection{
    background-color: #000000;
}

#aboutSection{
    background-color: #1a1a1a;
}

#servicesSection{

}   

#contactSection{ 
    background-color: #1a1a1a;
}   