*{
    font-family: 'Cinzel', serif;
}
section{
height: 100vh;
}

nav{
    background-color: #ededed;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 14px 63px;
    box-shadow: 0px 0px 10px 0px #00000059;
}

i{
    font-size: 32px;
    color: #000000;
}   

#navBarLinks{
    display: flex;

    li{
        padding-left: 23px;
        a{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
    }
}

#homeSection{
    background-color: #f1f0f0;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;

    #homeText{
        display: flex;
        flex-direction: column;
        padding: 200px;
        justify-content: center; 
    h1{
        color: #000000;
        font-size: 3.8rem;
        text-transform: uppercase;
    }

    h2{
        color: #504f4f;
        font-weight: 400;
        font-size: 2.4rem;
        padding: 24px 0 64px 0;
    }

    i{
        font-size: 20px;
        color: #000000;}
   
}
}

#aboutSection{
    background-color: #1a1a1a;
}

#servicesSection{
    background-image: url("assets/barbeiro.jpg");
    background-size: cover;

    .overlay{
        height: 100vh;
        width: 100%;
        background-color: #ffffff70;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 4rem;
            color: #000000;
            text-transform: uppercase;
            padding-bottom: 70px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 800px;
            gap: 27px;
            padding-bottom: 40px;
        }

        li{
            background-color: #00000039;
            padding: 12px 17px;
            border-radius: 8px;
            color: #ffffff;
        }

        .services{
            background-color: #00000039;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 18px 14px;
            border-radius: 8px;
            cursor: pointer;
        }
    }

}   

.services{
    background-color: #b6b6b6;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 18px 14px;
    border-radius: 8px;
    cursor: pointer;
}


#contactSection{ 
    background-color: #ededed;
    display: flex;

    #contactText{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3rem;
            padding-bottom: 30px;
        }


        p{
            color: #000000;
            font-size: 1.56rem;
        }

        #textChild{
            width: 80%;
            max-width: 700px;
        }
        
    }
        

    #contactPhoto{
        background-image: url("assets/Logo.SrN.png");
        width: 40vw;
        background-size: cover;
    }

}

.contactInfo{
    padding-top: 20px;
    font-style: normal;

    .contactFlex{
        display: flex;
        padding-top: 8px;
    }

    p{
        padding-left: 14px;
    }

    i{
        font-size: 20px;
        color: #000000;
    }

}

#homePhoto{
    background-image: url("assets/barbeiro2.jpg");
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: calc(100vh - 65px);
}



